<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{title}}</title>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="/static/scripts/bootstrap/dist/css/bootstrap.css">
	<link href="static/styles/style.css" rel="stylesheet">
</head>

<body>
	
	<div id="app" class="container">
		<h1 class="display-4 text-center py-1">Enter a long URL</h1>

		<div class="jumbotron p-3 shadow-sm">
			<form id="create-form" v-on:submit.prevent="resolveUrl">
				<div class="d-flex align-items-center">
					<input v-model="longUrl" id="create-field" autofocus autocomplete="off" class="form-control mr-3"
						type="text" style="flex: 1;">
					<button class="btn btn-primary">Create short URL</button>
				</div>
			</form>

			<div class="display-4 text-center py-1">${shortUrl}</div>

		</div>


	</div>


	<div>

	</div>
<!-- 
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

	<script src="/static/scripts/axios/dist/axios.js"></script>
	<script src="/static/scripts/vue/dist/vue.js"></script>

	<script src="static/scripts/app.js"></script>
</body>

</html>